<?xml version="1.0" encoding="utf-8"?>

<configuration> 
  <system.webServer> 
    <rewrite> 
      <rules> 
        <rule name="Index" stopProcessing="true"> 
          <match url="^(.*)$" ignoreCase="false"/>  
          <conditions logicalGrouping="MatchAll"> 
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true"/>  
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true"/> 
          </conditions>  
          <action type="Rewrite" url="index.php/{R:1}"/> 
        </rule> 
      </rules> 
    </rewrite>  
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough"/> 
    <security> 
      <requestFiltering> 
        <requestLimits maxAllowedContentLength="102400000"/> 
      </requestFiltering> 
    </security> 
  </system.webServer>
  <system.web>
     <!--The default size is 4096 kilobytes (4 MB). MaxValue is 2147483647 KB (2 TB)-->
     <!-- 20 MB in kilobytes -->
     <httpRuntime maxRequestLength="20480" />
   </system.web>
</configuration>
